@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  overflow-y: scroll;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-raleway-sans), sans-serif;
  max-width: 1440px;
  margin: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-pagination-bullet {
  background-color: white !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
  width: 2rem;
  height: 0.5rem;
  opacity: 1 !important;
}

.swiper-pagination-bullet-inactive {
  background-color: white !important;
  opacity: 0.8;
}
